<h1>Editing Post</h1>

<p>
<%= render 'form' %>
</p>
<%= link_to 'Show', @post, class: 'btn-large waves-effect waves-light red' %>
<%= link_to 'Back', posts_path, class: 'btn-large waves-effect waves-light blue' %>
